body{
    background-image:linear-gradient(122deg, #22caa0, #0094db);
    font-family:sans-serif;
    width:100%;
    text-align:center;
}

h1{
	display:inline-block;
	position:relative;
	text-decoration: underline;
	border:2px solid black;
	color:white;
	background-color:black;
	border-radius:10px;
	width:auto;
	padding:2px 5px 2px 5px;
}


.casino{
    height:500px;
    margin:0;
    padding:0;
    width:100%;
    display:flex;
	flex-wrap:wrap;
    justify-content:space-around;
}

.grid-disp{
    width:100px;
    margin:0;
    display:grid;
    grid-template-rows:auto auto;
    grid-gap:10px;
}

.game{
    height:initial;
    margin:0;
    width:600px;
    padding:0 20px 0 20px;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-around;
    height:500px;
    margin:auto;
    overflow:hidden;
    border:1px solid black;
}


.game>.table>img{
        display:block;
        transform:rotate(-20deg);

}

.table{
    height:auto;
    width:auto;
    display:flex;
	flex-wrap:wrap;
	align-content:stretch;
    flex-direction:row;
    position:relative;
}

#player{
    margin:10px;
}

img{
    width:90px;
    height:160px;
}

button{
	height:40px;
	width:auto;
}

#money{
	display:inline-block;
	width:auto;
}

.display{
    display:flex;
    list-style-type:none;
    justify-content:space-around;
    text-align:center;
    width:auto;
    text-align:center;
    font-size:17px;
	font-weight:bold;
}

.button-container{
    display:flex;
    align-items:center;
	justify-content:space-around;
}

#hit-stand{
    display:flex;
    flex-direction:row;
    justify-content:center;
}	
